<h3>Detalles de la Transferencia</h3>
<div>
  <div>
    <label><b>ID : </b> {{ transferencia.idTransferencia }}</label>
  </div>
  <div>
    <label><b>Nombre de Crédito : </b> {{ transferencia.nombreCredito }}</label>
  </div>
  <div>
    <label><b>Apellido de Crédito : </b> {{ transferencia.apellidoCredito }}</label>
  </div>
  <div>
    <label><b>Tipo de Documento : </b> {{ transferencia.tipoDocCredito }}</label>
  </div>
  <div>
    <label><b>Número de Documento : </b> {{ transferencia.nroDocCredito }}</label>
  </div>
  <div>
    <label><b>Importe : </b> {{ transferencia.importe }}</label>
  </div>
  <div>
    <label><b>Moneda : </b> {{ transferencia.moneda }}</label>
  </div>
  <div>
    <label><b>Código Entidad Financiera : </b> {{ transferencia.codEntidadFinanciera }}</label>
  </div>
</div>
