<h2 class="text-center">Lista de Operaciones Transferidas</h2>
<nav>
  <button routerLink="/login" class="btn btn-primary">Cerrar Sesión</button>
  <span style="margin-right: 10px;"></span>
  <button routerLink="/operaciones" class="btn btn-danger">Ir a lista de Operaciones Pendientes</button>
</nav>
<table class="table table-striped text-center"> <!-- Aplicar la clase text-center para centrar horizontalmente la tabla -->
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Fecha de Transferencia</th>
      <th>Nombre de Crédito</th>
      <th>Apellido de Crédito</th>
      <th>Número de Documento</th>
      <th>Cuenta Crédito</th>
      <th>Importe</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transferencia of transferencias">
      <td>{{transferencia.idTransferencia}}</td>
      <td>{{transferencia.fechaTransferencia}}</td>
      <td>{{transferencia.nombreCredito}}</td>
      <td>{{transferencia.apellidoCredito}}</td>
      <td>{{transferencia.nroDocCredito}}</td>
      <td>{{transferencia.nroCuentaCredito}}</td>
      <td>{{transferencia.importe}}</td>
      <td class="d-flex justify-content-center align-middle"> <!-- Aplicar la clase align-middle para centrar verticalmente las celdas -->
        <button (click)="verDetallesDelaTransferencia(transferencia.idTransferencia)" class="btn btn-primary" style="margin-left: 10px;">Ver Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
