<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Realizar Transferencia</h3>
    <form (ngSubmit)= "onSubmit()" #operacionForm = "ngForm">
      <div class="form-group">
        <label>Id Operación : </label>
        <input type = "text"
        class="form-control"
        id = "id"
        [(ngModel)] = "operacion.idOperacion"
        name = "id"
        [readonly]="readonly"
        required
        minlength="1"
        maxlength="10"
        placeholder="Digite el id "
        #id = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "id.invalid && (id.dirty || id.touched)">
          <div *ngIf = "id.errors.required">
            Digite su id por favor
          </div>
          <div *ngIf = "id.errors.minlength">
            El id tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf = "id.errors.maxlength">
            El id tiene que tener como maximo 10 caracteres
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Monto Desembolso : </label>
        <input type = "number"
        class="form-control"
        id = "montoDesembolso"
        [(ngModel)] = "operacion.montoDesembolso"
        name = "montoDesembolso"
        [readonly]="readonly"
        required
        minlength="1"
        maxlength="10"
        placeholder="Ingrese el monto del Desembolso "
        #montoDesembolso = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "montoDesembolso.invalid && (montoDesembolso.dirty || montoDesembolso.touched)">
          <div *ngIf = "montoDesembolso.errors.required">
            Ingrese el monto del Desembolso 
          </div>
          <div *ngIf = "montoDesembolso.errors.minlength">
            El monto del Desembolso tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf = "montoDesembolso.errors.maxlength">
            El monto del Desembolso tiene que tener como maximo 10 caracteres
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Cuenta Grupal : </label>
        <input type = "nombreCuentaIndividual"
        class="form-control"
        id = "nombreCuentaIndividual"
        [(ngModel)] = "operacion.nombreCuentaIndividual"
        name = "nombreCuentaIndividual"
        required
        minlength="4"
        maxlength="40"
        placeholder="Digite número de cuenta Grupal "
        #nombreCuentaIndividual = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "nombreCuentaIndividual.invalid && (nombreCuentaIndividual.dirty || nombreCuentaIndividual.touched)">
          <div *ngIf = "nombreCuentaIndividual.errors.required">
            Digite su email por favor
          </div>
          <div *ngIf = "nombreCuentaIndividual.errors.minlength">
            La cuenta debe contener como minimo 4 caracteres
          </div>
          <div *ngIf = "nombreCuentaIndividual.errors.maxlength">
            La cuenta debe tener como maximo 10 caracteres
          </div>
        </div>
      </div>
  
      <button class="btn btn-success" [disabled]= "!operacionForm.form.valid">Guardar</button>
    </form>
  </div>
  