
.form-group input2 {
    width: 200px; /* Ajusta el valor según tus necesidades */
    /* Puedes ajustar otros estilos según sea necesario */
}

/* En tu archivo de estilos (por ejemplo, styles.css) */

.ajuste-input {
    width: 210px; /* Ajusta el ancho según tus necesidades */
}

.ajuste-input2 {
    width: 460px; /* Ajusta el ancho según tus necesidades */
}

.move-left-label {
    margin-right: 100px; /* Ajusta el valor según tus necesidades */
}

.move-right-label {
    margin-left: 210px; /* Ajusta el valor según tus necesidades */
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:active {
    background-color: #3e8e41;
  }