<h2 class="text-center">Ir a lista De Operaciones a Transferir</h2>
<nav>
  <button routerLink="/login" class="btn btn-primary">Cerrar Sesión</button>
  <span style="margin-right: 10px;"></span> <!-- Espacio entre los botones -->
  <button routerLink="/transferencias" class="btn btn-success">Listar Operaciones Transferidas</button>
</nav>
<table class="table table-striped text-center">
  <thead class="table-dark">
    <tr>
      <th>Id Operación</th>
      <th>Monto a Desembolsar</th>
      <th>Cuenta Individual</th>
      <th>Nombre Cuenta Individual</th>
      <th>Apellido Cuenta Individual</th>
      <th>Nro Documento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let operacion of operaciones">
      <td>{{operacion.nroOperacionDiaconia}}</td>
      <td>{{operacion.montoDesembolso | currency:'PYG ':'symbol':'1.0-0'}}</td>
      <td>{{operacion.nroCuentaInvidual}}</td>
      <td>{{operacion.nombreCuentaIndividual}}</td>
      <td>{{operacion.apellidoCuentaIndividual}}</td>
      <td>{{operacion.nroDocumento}}</td>
      <td class="d-flex justify-content-center align-middle">
        <button routerLink="enviar-transferencia/{{operacion.idOperacion}}" routerLinkActive="active" class="btn btn-primary">Transferir</button>
      </td>
    </tr>
  </tbody>
</table>
